.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  overflow-x: hidden;
}

.bck {
  background-color: #E5E5F8;
  display: inline-block;
}

.tasks {
  margin-top: 150px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Wheel {
  margin-left: 400px;
}


/* Media query for mobile devices */
@media (max-width: 480px) {
  /* Adjust styles for mobile screens */
  .App {
    text-align: center ;
    justify-content: center ;
    align-items: center ;
    margin: 0 ;
    overflow-x: hidden;
  }
  #signIn {
    margin-top: 330px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}